.vs/

bin/
obj/
publish/

Properties/

temp/

App_Data/

# Code for retrieving samples
sample-data/
SteelPans.Samples
SteelPans.Decode

**.user
SteelPans.PracticeWebApp/appsettings.Development.json
SteelPans.LeaderWebApp/appsettings.Development.json

**/appsettings.Development.json