.mobile-drawer {
    --lip-size_default: 8px;
    --lip-size: var(--lip-size_arg, var(--lip-size_default));
    --handle-size: calc(0.6 * var(--lip-size));
    --tap-open-size_default: 10px;
    --tap-open-size: var(--tap-open-size_arg, var(--tap-open-size_default));
    --drawer-width_default: max-content;
    --drawer-width: var(--drawer-width_arg, var(--drawer-width_default));
    --drawer-position: 50%;
    --extra-offset: 4px;
    --drawer-padding: 6px;
    --page-padding: 8px;
    position: fixed;
    z-index: 1000;
    display: flex;
    box-sizing: border-box;
    background-image: linear-gradient( 180deg, rgb(5, 39, 103) 0%, #3a0647 70% );
    touch-action: none;
    transition: transform 220ms ease-out, width 220ms ease-out, height 220ms ease-out;
    will-change: transform, width, height;
    pointer-events: auto;
}

.mobile-drawer--no-transition {
    transition: transform 0ms, width 220ms ease-out, height 220ms ease-out;
}



/* Top / bottom */

.mobile-drawer--bottom,
.mobile-drawer--top {
    width: var(--drawer-width);
    max-width: calc(100vw - (2 * var(--page-padding)));
    left: var(--drawer-position);
    max-height: 100dvh;
}

.mobile-drawer--bottom {
    bottom: 0;
    flex-direction: column;
    border-radius: 12px 12px 0 0;
    padding: 0 var(--drawer-padding) var(--extra-offset) var(--drawer-padding);
}

.mobile-drawer--top {
    top: 0;
    flex-direction: column-reverse;
    border-radius: 0 0 12px 12px;
    padding: var(--extra-offset) var(--drawer-padding) 0 var(--drawer-padding);
}

/* Left / right */

.mobile-drawer--left,
.mobile-drawer--right {
    height: var(--drawer-width);
    max-height: calc(100dvh - (2 * var(--page-padding)));
    top: var(--drawer-position);
    max-width: 100dvw;
}

.mobile-drawer--left {
    left: 0;
    flex-direction: row-reverse;
    border-radius: 0 12px 12px 0;
    padding: var(--drawer-padding) 0 var(--drawer-padding) var(--extra-offset);
    text-align: right;
}

.mobile-drawer--right {
    right: 0;
    flex-direction: row;
    border-radius: 12px 0 0 12px;
    padding: var(--drawer-padding) var(--extra-offset) var(--drawer-padding) 0;
}

/* Lip */

.mobile-drawer__lip {
    display: flex;
    cursor: grab;
    touch-action: none;
}

    .mobile-drawer__lip:active {
        cursor: grabbing;
    }

.mobile-drawer--bottom .mobile-drawer__lip,
.mobile-drawer--top .mobile-drawer__lip {
    justify-content: center;
    flex: 0 0 var(--lip-size);
}

.mobile-drawer--left .mobile-drawer__lip,
.mobile-drawer--right .mobile-drawer__lip {
    align-items: center;
    flex: 0 0 var(--lip-size);
}

.mobile-drawer--bottom .mobile-drawer__lip {
    align-items: flex-start;
    border-radius: 12px 12px 0 0;
}

.mobile-drawer--top .mobile-drawer__lip {
    align-items: flex-end;
    border-radius: 0 0 12px 12px;
}

.mobile-drawer--left .mobile-drawer__lip {
    justify-content: flex-end;
    border-radius: 0 12px 12px 0;
}

.mobile-drawer--right .mobile-drawer__lip {
    justify-content: flex-start;
    border-radius: 12px 0 0 12px;
}

/* Handle */

.mobile-drawer__handle {
    border-radius: 999px;
    background: #888;
}

.mobile-drawer--bottom .mobile-drawer__handle,
.mobile-drawer--top .mobile-drawer__handle {
    width: 48px;
    max-width: calc(100% - 8px);
    height: var(--handle-size);
}

.mobile-drawer--left .mobile-drawer__handle,
.mobile-drawer--right .mobile-drawer__handle {
    width: var(--handle-size);
    height: 48px;
    max-height: calc(100% - 8px);
}

/* Content */

.mobile-drawer__content {
    overflow: auto;
    overscroll-behavior: contain;
    cursor: grab;
}

    .mobile-drawer__content:active {
        cursor: grabbing;
    }

.mobile-drawer--closed .mobile-drawer__content ::deep .nav-item {
    pointer-events: none;
}

