.add__body {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}


    .add__body .form-select {
        box-sizing: border-box;
        height: clamp(1.4rem, 3.2vw, 2.4rem);
        line-height: 1;
        border-width: 1px;
        width: 100%;
        min-width: 0;
        font-size: clamp(0.6rem, 1vw, 1rem);
        padding: 0 2rem 0 min(0.875rem, 2.5vw);
        border-radius: 0.8rem;
        cursor: pointer;
    }