.steel-pan__chord-builder {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    gap: 0.8rem;
}

.steel-pan__chord-builder--disabled {
    opacity: 0.65;
}

    .steel-pan__chord-builder--disabled,
    .steel-pan__chord-builder--disabled * {
        cursor: not-allowed;
    }

.steel-pan__chord-selector {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    column-gap: 0.8rem;
    align-items: end;
}

.steel-pan__chord-select--note {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
}

.steel-pan__chord-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    align-items: center;
}

.steel-pan__chord-set {
    display: contents;
}

.steel-pan__chord-actions .btn {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    white-space: nowrap;
    font-weight: 700;
}